.header {
  background-color: var(--blue);
  font-weight: 900;
  width: 100vw;
  position: relative;
  left: calc((100% - 100vw) / 2);
  padding: 10px 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
}

.header__nav-links {
  display: flex;
  align-items: center;
}

.header__nav-link {
  margin-right: 10px;
}

/* .header__nav-link:last-child a img {
  max-width: 30px;
  max-width: 30px;
} */

.header__nav-link a[href="https://dictionaryapi.dev/"] img
{
  max-width: 30px;
  max-width: 30px;
}

.header__nav-link a[href="https://unsplash.com/documentation"] img
{
  margin-left: 10px;
  max-width: 30px;
  max-width: 30px;
}
