.bob {
  width: 40px;
  height: 40px;
  background-color: #525252;
}

.word-desc__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.word-desc__heading {
  font-size: 20px;
  font-style: italic;
  padding-top: 25px;
}

.word-desc__heading--bold {
  font-weight: bold;
  font-style: normal;
}

.word-desc__links {
  display: flex;
  margin-left: calc(100% - 125px);
}

.word-desc__link a img {
  width: 65px;
  padding-right: 15px;
}

.word-desc__title {
  font-size: 29px;
}
