.word-desc {
  max-width: 600px;
  margin: 0 auto;

  &__heading {
    font-size: 20px;
    font-style: italic;
    padding-top: 25px;

    &--bold {
      font-weight: bold;
      font-style: normal;
    }
  }

  &__links {
    display: flex;
    margin-left: calc(100% - 125px);

    .word-desc__link a img {
      width: 65px;
      padding-right: 15px;
    }
  }

  section {
    .title {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .part-of-spech {
      font-style: italic;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .audio-players {
      display: flex;
    }

    .main-part {
      display: flex;

      .wrapper {
        display: flex;
        flex-direction: column;

        .definition {
          font-weight: 600;
          margin-bottom: 15px;
        }

        .example {
          h2 {
            font-weight: 600;
            font-style: italic;
          }
        }
      }
    }

    .more-examples {
      padding: 10px 30px;
      font-size: 20px;
      font-weight: 700;
    }

    .more-definitions {
      padding: 0px 10px 10px 0px;

      &-item {
        padding-bottom: 5px;
        text-indent: 10px;
      }
    }
  }
}
