.word-desc__player {
  display: flex;
  margin-right: 70px;
  margin-bottom: 30px;
}

.word-desc__player:last-child {
  margin-right: 0px;
}

.word-desc__player-country {
  font-weight: 600;
}

.word-desc__player-icon {
  width: 20px;
  margin: 0 7px;
}
