.word-desc__player {
  display: flex;
  margin-right: 70px;
  margin-bottom: 30px;

  &:last-child {
    margin-right: 0px;
  }

  &-country {
    font-weight: 600;
  }

  &-icon {
    width: 20px;
    margin: 0 7px;
  }
}
